# Python virtual environments
.venv/

# Byte-compiled / cache files
__pycache__/
**/__pycache__/
*.pyc

# Build & output directories
out_baseline/
out_perc/

# VS Code
.vscode/

# Dataset (do NOT commit!)
data/